body{
  background-color:rgb(218, 154, 175); 
  width: 53%;
    height: 100%;
   
    margin-left: 220px;
    margin-top: 5px;
    margin-bottom: 20px;
    }
    
    header{
    margin-top: 20px;
    text-align: center;
    
    }
    
    header img{
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-right: 10px;
        justify-content: space-between;
        
    }
    
    header nav {
  
        display: inline-block;
       text-align: right;
    }
    
    header nav li{
        text-align: right;
        display: inline-block;
        color: black;
          padding-right: 3px;
    }
    header a:hover{
       background-color:aliceblue;
       transition: 300ms;
    }
 #login{

    height: 70px;
    width: 70px;
    
    margin-left: 145px;
    margin-top: 20px;
 }
form{
 color: white;
   margin-top: 10px;
   border-radius: 30px;
    margin-left: 250px;
    height: 400px;
    width: 350px;
   background:url(https://image.freepik.com/foto-gratis/vista-lateral-manos-teclado-ordenador-portatil_23-2148205667.jpg)no-repeat;
width: 70vh;
    
}

.input{
    border-radius: 20px;
    text-align: center;
 margin-left: 5px;
 height: 20px;
    
}

.input1{

border-radius:20px;
height: 20px;
text-align: center;
}

#esquece{
    display: grid;
    margin-left:120px;
    margin-top: 30px;
    text-decoration: none;
    color:black;


}

#esquece a:hover{
    background-color:violet;
}
.input2{
 margin-left: 140px;
  border-radius: 20px;
  background-color: rgb(12, 246, 12);
  width: 100px;
}

#email{
  margin-left: 55px;
}

#senha{
    margin-left: 30px;
}



p{
  
    margin-right: 100px;
    display: inline-block;
     margin-top: 50px;
     font-size: 15px;
     float: left;
}

footer{
 
margin-top: 20px;
    width: 100%;
    height: 100px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
footer a img{
width: 40px;
height: 45px;
margin-top: 25px;
margin-bottom: 0px;
float: right;
margin-right: 20px;
}
footer p{
    color:black;
}

p{
  
    margin-right: 100px;
    display: inline-block;
     margin-top: 50px;
     font-size: 15px;
     float: left;
}