html {
    background-color: white;
    width: 53%;
    height: 100%;
    border:black solid 0.1px;
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    header{
    margin-top: 20px;
    text-align: center;
    
    }
    
    header img{
        width: 80px;
        height: 80px;
        margin-top: 20px;
        margin-right: 10px;
        justify-content: space-between;
        
    }
    
    header nav {
  
        display: inline-block;
       text-align: right;
    }
    
    header nav li{
        text-align: right;
        display: inline-block;
        color: black;
          padding-right: 3px;
    }
    header a:hover{
       background-color:aliceblue;
       transition: 300ms;
    }
form{
    text-align: center;
    background-color:skyblue ;
    margin-top: 60px;
    padding:10px;
    height: 200px;
    justify-content: left;
    margin-right: 10px;
    margin: 10px;
}

footer{
    background-color: cyan;
margin-top: 155px;
    width: 100%;
    height: 100px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
footer a img{
width: 40px;
height: 45px;
margin-top: 25px;
margin-bottom: 0px;
float: right;
margin-right: 20px;
}


p{
  
    margin-right: 100px;
    display: inline-block;
     margin-top: 50px;
     font-size: 15px;
     float: left;
}
